$primary-font: Arial, Helvetica, sans-serif;
$footer-bg: #dddddd;
$WHITE :#f1f1f1;
$BLACK: #333333;
$LIGHT: #ffe2e2;
$RED: #ef4b4b;
$TEAL: #19BC9B;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;